@model ContactoModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Eliminar contacto
  </div>
  <div class="card-body">
    
    <form asp-action="Eliminar" asp-controller="Mantenedor" method="post">
        <input asp-for="IdContacto"  class="form-control">
        
        <div class="alert alert-danger" role="alert">
            ¿Deseas eliminar el registro: @Html.DisplayTextFor(x => x.Nombre)?
        </div>
            
      <button type="submit" class="btn btn-danger"><i class="bi bi-person-x"></i> Eliminar</button>
      <a asp-action="Listar" asp-controller="Mantenedor" class="btn btn-warning"><i class="bi bi-person-lines-fill"></i> Volver a la lista</a>
    </form>

  </div>
</div>


