@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>App demostrativa para Crear, Editar, Leer o Eliminar registrso (CRUD) usando ADO.Net</p>
    <a asp-action="Guardar" asp-controller="Mantenedor" class="btn btn-success"><i class="bi bi-person-plus"></i> Crear registro</a> 
    <a asp-action="Listar" asp-controller="Mantenedor" class="btn btn-warning"><i class="bi bi-person-lines-fill"></i> Visualizar Lista</a>
</div>
